<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>버스를 선택하세요</title>
</head>
<body>
<form action="" method="post">
    <h1>여기는 {{ result }}정류소 입니다.</h1>
    <h1>버스를 선택하세요.</h1>
    {% csrf_token %}
    <select name="busRoute">
        {% for busRoute in busRouteList %}
            <option value = '{{ busRoute }}'>{{ busRoute.rtNm }} </option>
        {% endfor %}
    </select>
        <input type="submit">
</form>

</body>
</html>