<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DDing</title>
</head>
<body>
    <h1>Design</h1>
    <h1>Desirable</h1>
    <h1>dding</h1>
    <h1>개발 배경</h1>
    <p>
        현재 휠체어 이용 승객이 탑승할 수 있는 저상버스가 전국적으로 운행중
        <img src="img/1.jpg">
        <img src="img/2.png">

        <img src="img/3.jpg">
        <img src="img/4.jpg">

    </p>

    <h1>개선 방향</h1>
    <p>
        <img src="img/5.png" width="1000dp">
        <h2>승차 의사 전달 어려움</h2>
        교통약자 승객이 버스에게 탑승여부를 스마트폰을 이용해 호출하여 버스 기사가 미리 준비할 수 있도록 함
        <h2>승,하차 시 시간지연</h2>
        휠체어 이용 승객 탑승 전 안내 방송을 통해 미리 승객 또는 버스 기사가 휠체어 우선 좌석을 세팅할 수 있도록 함. 
        <h2>안내 정보 부족</h2>
        휠체어 이용 승객 탑승 시 행동 요령을 모르는 승객들에게 안내 메시지를 음성으로 전달
    </p>

</body>
</html>